# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Compiled Python files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.mp4
# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Manim outputs
# =========================
media/
videos/
images/
Tex/
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*~

# =========================
# Python cache folders
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Environment variables
# =========================
.env

slides/
media/